.info-line {
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid $c-dark;

  @media ($m-table) {
    margin: 30px 0;
  }

  @media ($m-mobile) {
    //display: none;
  }

  .wrapper-theme-dark & {
    border-bottom: 1px solid #fff;
  }
}