.info-box-title {
  font-family: $ff-o;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: $c-dark;
  overflow: hidden;
  margin: 0 0 10px;

  @media ($m-desktop) {
    font-size: 20px;
  }

  @media ($m-table) {
    margin: 0 0 5px;
  }

  &_ttn {
    text-transform: none;
  }

  .wrapper-theme-dark & {
    color: #fff;
  }

  &_move-left {
     & .info-box-title__inner {
       display: flex;
       align-items: center;

       & span {
         display: block;
         padding-right: 50px;
         white-space: nowrap;

         animation-name: textMoveLeft;
         animation-duration: 5.83401s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
         will-change: transform;
       }
     }
  }
}

@keyframes textMoveLeft {
  0% {
    transform: translateX(0) translateZ(0);
  }

  100% {
    transform: translateX(-100%) translateZ(0);
  }
}