.info-box-text {
  font-family: $ff-m;
  font-style: normal;
  font-weight: $fw-m-r;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: $c-dark;
  margin: 0 0 40px;

  @media ($m-desktop) {
    font-size: 14px;
  }

  @media ($m-table) {
    margin: 0 0 30px;
  }

  &_sm {
    width: 170px;
  }

  .wrapper-theme-dark & {
    color: #fff;
  }

  & p {
    margin: 0;
  }
}