.info-group-photo {
  display: flex;

  &__left {
    flex-shrink: 0;
    width: 170px;
    margin: 0 30px 0 0;
    padding: 40px 0 0;

    @media ($m-table) {
      margin: 0 20px 0 0;
      width: 130px;
      padding: 10px 0 0;
    }
  }

  &__right {
    flex-grow: 1;

    & img {
      width: 100%;
    }
  }
}