.info-line {
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid $c-dark;
  width: 0;
  transition: 600ms;

  &.animate {
    width: 100%;
  }

  @media ($m-table) {
    margin: 30px 0;
  }

  @media ($m-mobile) {
    //display: none;
    &.box-mob {
      margin: 40px 0;
    }
  }

  .wrapper-theme-dark & {
    border-bottom: 1px solid #fff;
  }
}