.logo {
  position: relative;
  height: 51px;
  transition: 300ms;

  .header.header-fixed & {
    height: 36px;
  }

  & svg {
    width: auto;
    height: auto;
    max-height: 100%;

    & path {
      fill: $c-dark;
      transition: 300ms;

      &:last-child {
        fill: none;
        stroke: $c-dark;
      }
    }
  }

  .wrapper-theme-dark &, .in-open-popup &, .in-section-main &, .header-fixed & {
    & svg {
      & path {
        fill: #fff;

        &:last-child {
          fill: none;
          stroke: #fff;
        }
      }
    }
  }
}