.menu-list {
  width: 385px;

  &__item {
    margin: 0 0 2vmin;

    &:last-child {
      margin: 0;
    }

    & a {
      display: inline-block;
      font-family: $ff-o;
      font-style: normal;
      font-weight: normal;
      //font-size: 10vmin;
      @include fzIns(100);
      line-height: 120%;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #FFFFFF;
      border-bottom: 1px solid transparent;
      transition: 300ms;
      white-space: nowrap;

      @media ($m-table) {
        @include fzIns(70);
      }

      &:hover {
        border-bottom: 1px solid #fff;
        padding: 0 0 0 60px;
      }
    }
  }
}