.s-net-list {
  .footer & {
    @media ($m-mobile) {
      width: 280px;
    }
  }

  &_line {
    display: flex;
    align-items: center;

    .footer & {
      @media ($m-mobile) {
        flex-wrap: wrap;
      }
    }
  }

  &__item {
    margin: 0 0 10px;

    & a {
      white-space: nowrap;
      font-family: $ff-m;
      font-style: normal;
      font-weight: $fw-m-r;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #fff;

      @media ($m-desktop) {
        font-size: 14px;
      }

      .footer & {
        color: $c-dark;
      }

      .wrapper-theme-dark .footer & {
        color: #fff;
      }
    }
  }

  &_line &__item {
    margin: 0 32px 0 0;

    .footer & {
      @media ($m-mobile) {
        width: 50%;
        margin: 0 0 5px;
      }
    }
  }
}

@keyframes line {

}