.form-checkbox {
  margin: 0 0 20px;

  &__title {
    font-family: $ff-m;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #101010;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & li {
      margin: 0 30px 20px 0;
    }
  }
}