.form-field-label {
  position: relative;
  display: block;
  padding: 30px 0 0;
  margin-bottom: 30px;

  @media ($m-mobile) {
    padding: 20px 0 0;
  }

  &.error {
    & .form-field-label__error {
      display: block;
    }

    & .form-field-label__input {
      border-bottom: 1px solid $c-red;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 44px;
    background: #fff;
    font-family: $ff-m;
    font-style: normal;
    font-weight: $fw-m-r;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #101010;
    padding: 0;
    border: 0;
    border-bottom: 1px solid $c-dark;

    @media ($m-mobile) {
      height: 32px;
      font-size: 14px;
    }

    &:focus {
      & + .form-field-label__placeholder {
        top: 10px;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.4375px;

        @media ($m-mobile) {
          font-size: 12px;
          top: 7px;
        }
      }
    }
  }

  &__placeholder {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    font-family: $ff-m;
    font-style: normal;
    font-weight: $fw-m-b;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #101010;
    transition: 150ms;

    @media ($m-mobile) {
      font-size: 14px;
      top: 26px;
    }

    &.move-top {
      top: 10px;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.4375px;

      @media ($m-mobile) {
        font-size: 12px;
        top: 7px;
      }
    }
  }

  &__error {
    display: none;
    position: absolute;
    left: 0;
    bottom: -30px;
    font-family: $ff-m;
    font-style: normal;
    font-weight: $fw-m-r;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.4375px;
    color: $c-red;

    @media ($m-mobile) {
      font-size: 12px;
      bottom: -20px;
    }
  }
}