.client-list {

  &__item {
    padding: 0 0 40px;
    margin: 0 0 40px;
    border-bottom: 1px solid $c-dark;

    @media ($m-table) {
      padding: 0 0 30px;
      margin: 0 0 30px;
    }

    @media ($m-mobile) {
      padding: 0 0 20px;
      margin: 0 0 20px;
    }

    .wrapper-theme-dark & {
      border-bottom: 1px solid #fff;
    }

    &:last-child {
      margin: 0;
    }
  }
}