.client-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__left {
    flex-grow: 1;
  }

  &__right {
    width: 170px;
    flex-shrink: 0;

    @media ($m-table) {
      width: 130px;
    }
  }
}