.section-hold {
  display: flex;

  &__left {
    flex-shrink: 0;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media ($m-desktop) {
      width: 240px;
    }

    @media ($m-table) {
      width: 180px;
    }

    @media ($m-mobile) {
      width: 38px;
      margin: 0 37px 0 0;
    }
  }

  &__right {
    width: 770px;
    //min-height: 400px;

    @media ($m-desktop) {
      width: 722px;
    }

    @media ($m-table) {
      width: 722px;
    }

    @media ($m-mobile) {
      width: 722px;
    }

    &_move-box {
      width: 100vw;
    }
  }
}