.button-hidden-text {
  @include button;
  justify-content: flex-end;
  height: 50px;

  @media (hover: hover) {
    &:hover {
      .button-hidden-text__text {
        width: 144px;
      }
    }
  }

  &__text {
    flex-shrink: 0;
    display: block;
    font-family: $ff-m;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.4375px;
    text-transform: uppercase;
    color: #FFFFFF;
    overflow: hidden;
    width: 0;
    transition: 150ms;
    white-space: nowrap;

    .midnightHeader.default & {
      color: #FFFFFF;
    }
  }

  &_dark &__text {
    color: #000;
  }

  .midnightHeader.white &__text {
    color: #000;
  }

  .midnightHeader.white &_dark &__text {
    color: #000;
  }

  &__ico {
    flex-shrink: 0;
    display: block;
  }

  &__ico svg circle {
    fill: #000;

    .midnightHeader.default & {
      fill: #FFFFFF;
    }
  }

  &__ico svg path {
    fill: #fff;

    .midnightHeader.default & {
      fill: #000;
    }
  }

  &_dark &__ico svg circle {
    fill: #000;

    .midnightHeader.default & {
      fill: #FFFFFF;
    }
  }

  &_dark &__ico svg path {
    fill: #fff;

    .midnightHeader.default & {
      fill: #000;
    }
  }
}