html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: $fz;
  font-family: $ff-m;
  font-weight: $fw-m-r;
}

main {
  display: block;
  flex-grow: 1;
}

svg {
  flex-shrink: 0;
  display: block;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.link-m-u {
  position: relative;
  
  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: #fff;
    transition: 250ms;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.box-desktop {
  display: block !important;
}

.box-mob {
  display: none !important;
}

@media (max-width: 767px) {
  .box-desktop {
    display: none !important;
  }

  .box-mob {
    display: block !important;
  }
}

.wr-gif {
  @media ($m-mobile) {
    margin: 20px 0 40px;
    width: 205px;
  }
}

.box-text-move {

  &__item {
    overflow: hidden;
    display: flex;

    &_right {
      justify-content: flex-end;
    }
  }

  &__item + &__item {
    margin: 80px 0 0;

    @media ($m-desktop) {
      margin: 40px 0 0;
    }

    @media ($m-mobile) {
      margin: 20px 0 0;
    }
  }
}

[data-text-move="left"] {
  animation-name: textMoveLeft;
  animation-duration: 5.83401s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}

[data-text-move="right"] {
  animation-name: textMoveRight;
  animation-duration: 5.83401s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}

@keyframes textMoveLeft {
  0% {
    transform: translateX(0) translateZ(0);
  }

  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

@keyframes textMoveRight {
  0% {
    transform: translateX(0) translateZ(0);
  }

  100% {
    transform: translateX(100%) translateZ(0);
  }
}