// Font
$ff-m: 'Montserrat', sans-serif;
$fw-m-r: 400;
$fw-m-b: 700;
$ff-o: 'Oswald', sans-serif;
$fz: 14px;

// Size
$m-desktop           : 'max-width:1200px';
$m-table             : 'max-width:992px';
$m-mobile            : 'max-width:767px';

// Main color
$c-dark: #101010;
$c-dark_2: #1A1F21;
$c-blue: #0F4C81;
$c-red: #B5342D;

$m-f-c: #101010; //main font color