// Font
$ff-m: 'Montserrat', sans-serif;
$fw-m-r: 400;
$fw-m-b: 700;
$ff-o: 'Oswald', sans-serif;
$fz: 14px;

// Size
$desktopWidth            : 1200px;
$tableWidth              : 1151px;
$smtableWidth            : 1023px;
$xtableWidth             : 992px;
$phoneWidth              : 767px;
$smPhoneWidth            : 420px;

// Main color
$c-dark: #101010;
$c-dark_2: #1A1F21;
$c-blue: #0F4C81;
$c-red: #B5342D;

$m-f-c: #101010; //main font color