.works-list {

  &__item {
    padding: 0 0 40px;
    margin: 0 0 40px;
    border-bottom: 1px solid $c-dark;

    .wrapper-theme-dark & {
      border-bottom: 1px solid #fff;
    }

    &:last-child {
      margin: 0;
    }
  }
}