.slogan-title {
  font-family: $ff-m;
  font-style: normal;
  font-weight: $fw-m-r;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 10px;
}