.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media ($m-desktop) {
    max-width: 992px;
  }

  @media ($m-table) {
    max-width: 738px;
  }

  @media ($m-mobile) {
    padding: 0 20px;
  }

  .section-main & {
    display: flex;
    align-items: center;
    position: relative;
    //z-index: 3;
    height: 100%;
  }

  &__line {
    display: block;
    border-top: 1px solid $c-dark;
    margin: 0 0 80px;

    @media ($m-table) {
      margin: 0 0 60px;
    }

    @media ($m-mobile) {
      margin: 0 0 40px;
    }

    .wrapper-theme-dark & {
      border-top: 1px solid #fff;
    }
  }

  .menu & {
    display: flex;
    justify-content: center;
    position: relative;

    @media ($m-mobile) {
      height: 100%;
      position: static;
    }
  }
}