.address {
  &__row + &__row {
    margin: 10px 0 0;
  }

  &__row {
    & a {
      font-family: $ff-m;
      font-style: normal;
      font-weight: $fw-m-r;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: $c-dark;

      &:hover, &:focus, &:active {
        color: $c-dark;
      }

      .wrapper-theme-dark .footer & {
        color: #fff;

        &:hover, &:focus, &:active {
          color: #fff;
        }
      }
    }
  }

  &__title {
    font-family: $ff-m;
    font-style: normal;
    font-weight: $fw-m-b;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    color: $c-dark;

    .wrapper-theme-dark & {
      color: #FFFFFF;
    }
  }

  &__box {
    margin: 0 0 40px;
  }
}