.address-location {
  &_line {
    display: flex;

    @media ($m-mobile) {
      display: block;
    }

    & > * {
      flex-shrink: 0;
      width: 310px;
      padding: 0 30px 0 0;

      @media ($m-table) {
        width: 250px;
      }

      @media ($m-mobile) {
        width: 100%;
      }
    }
  }

  &__box + &__box {
    margin: 10px 0 0;
  }

  &__country {
    font-family: $ff-o;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.75px;
    margin: 0 0 10px;
    color: $c-dark;

    @media ($m-mobile) {
      font-size: 18px;
    }

    .wrapper-theme-dark & {
      color: #FFFFFF;
    }
  }

  &__home {
    font-family: $ff-m;
    font-style: normal;
    font-weight: $fw-m-r;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: $c-dark;

    @media ($m-mobile) {
      font-size: 14px;
    }

    .wrapper-theme-dark & {
      color: #FFFFFF;
    }
  }
}